<ul class = "swiper-wrapper wrapper">
	<li class = "banner-item bg1 swiper-slide">
		<img src = 'images/first_02.jpg'>
<!--                            <img src = 'images/first_02_txt_s.png'>-->
	</li>
</ul>