
<ul class = 'wrapper row'>
	<% _.each(instaData, function(instaItem)
              { %>
	<li class = "insta-item <% 
                 if( instaItem['likes']['count'] > SATURATION) { 
                 %> col-xs-4 col-md-2 item-big">
        <img src = "<%= instaItem['images']['low_resolution']['url'] %>"><%
                 } else { %> col-xs-2 col-md-1 item-small">
        <img src = "<%= instaItem['images']['thumbnail']['url'] %>" ><% 
                 }%>
	</li>
    <% }); %>
</ul> 