body {
	font: 'Apple SD Gothic Neo', NanumBarunGothic, '나눔고딕', 'NG', 'Malgun Gothic', dotum, sans-serif;
    background-color: #B3AFA6;
}
#shell {
	-webkit-transition: opacity 0.5s ease, opacity 0.3s ease;
	   -moz-transition: opacity 0.5s ease, opacity 0.3s ease;
		 -o-transition: opacity 0.5s ease, opacity 0.3s ease;
			transition: opacity 0.5s ease, opacity 0.3s ease;
/*    display: none;*/
/*
	visibility: hidden;
	opacity: 0;
*/

}
ul {
	list-style: none;
	padding-left: 0;
}
.icon > img{
	position: relative;
	width : 100%;
}	
/*
.icon > .in,
.icon > .out{
	-webkit-transition: all 0.5s ease, opacity 0.3s ease;
	   -moz-transition: all 0.5s ease, opacity 0.3s ease;
		 -o-transition: all 0.5s ease, opacity 0.3s ease;
			transition: all 0.5s ease, opacity 0.3s ease;
}
.icon {
	overflow: hidden;
}
.icon > .out {

	display: block;
}
.icon > .in {
	display: none;
}
.icon:hover > .out {
	display: none;
}
.icon:hover > .in {
	display: block;
}
*/

.header {
	font-weight: 200;
	-webkit-transition: all 0.5s ease, opacity 0.3s ease;
	   -moz-transition: all 0.5s ease, opacity 0.3s ease;
		 -o-transition: all 0.5s ease, opacity 0.3s ease;
			transition: all 0.5s ease, opacity 0.3s ease;
}
	.header .logo {
        -webkit-transition: all 0.5s ease, opacity 0.3s ease;
           -moz-transition: all 0.5s ease, opacity 0.3s ease;
             -o-transition: all 0.5s ease, opacity 0.3s ease;
                transition: all 0.5s ease, opacity 0.3s ease;
/*
        background-image: url(../images/BEANBROTHERS_white.png);
        background-repeat: no-repeat;
        background-position: center;
*/
        width : 168.75px;
        position: absolute;

        
    }

#mobile-nav .login-collapse,
#mobile-nav .cart-collapse {
    background-color: gray;
    text-align: center;
/*    height : 40px;*/
}
#main-container {
/*    z-index: 1;*/
/*    -webkit-transform: translate3d(0,0,0);   */
}

#paper {	
	z-index: 1;
	position: relative;
	background-color: white;
	padding-top : 50px;
	
	/* row 가 삐져나온다 */
	overflow: hidden;
    
    -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 6px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 6px 10px 0px rgba(50, 50, 50, 0.75);
}


#banner-area,
#news,
#hole,
#bulletin {
	position: relative;
}


#banner {	
	z-index: 1;
	width : 100%;
	background-color: white;
	position: fixed;
	overflow: hidden;
}
	#banner {
        top : 40px;
        height : 260px   
    }
	#banner-area {
		height : 300px;
	}
	#banner .wrapper {
		position: absolute;
		top : 0; left :0;
		width : 100%;
		height : 100%;
	}

	/* trick */
	#banner img {
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
		
		width : 800px;
	}
	.banner-item {
		overflow: hidden;
	}
	@media (min-width: 768px) {
		#banner,
		#banner-area {
			height : 350px;
		}
		#banner img {
			width : 1200px;
		}
	}

	@media (min-width: 992px) {
		#banner,
		#banner-area {
			height : 420px;
		}
		#banner img {
			width : 1600px;
		}
	}

	@media (min-width: 1200px) {
		#banner,
		#banner-area {
			height : 500px;
		}
		#banner img {
			width : 120%;
		}
	}
/* #news start */

#news {
	
}
	#news ul {
		list-style : none;
		padding: 0;
	}
	.news-item {
        position: relative;
		overflow: hidden;
		height : 200px;
        display: block; 
	}  
/*
	.news-item > img{
        width : 100%;
		height : auto;
	}
*/
    .news-item .text-wrapper:hover {
        background-color: rgba(0,0,0, 0.7);   
    }
    .news-item .text-wrapper {
        position: relative;
        box-sizing: border-box;
        width : 100%;
        height : 100%;
        top : 0;
        left : 0;
        right : 0;
        bottom : 0;
        padding: 0 10px;
        -webkit-transition: all 0.3s ease, opacity 0.3s ease;
           -moz-transition: all 0.3s ease, opacity 0.3s ease;
             -o-transition: all 0.3s ease, opacity 0.3s ease;
                transition: all 0.3s ease, opacity 0.3s ease;
        background-color: rgba(70,70,70, 0.7);
    }
    .news-item .bg {
        height: auto;
        width : 100%;
        
        
        top : -9999px;
        bottom : -9999px;
        left : -9999px;
        right : -9999px;
        margin: auto;
        position: absolute;
    }
    .news-item .text{
        height : 25%;
        top : -9999px;
        bottom : -9999px;
        left : -9999px;
        right : -9999px;
        margin: auto;
        position: absolute;
    }   
	@media (min-width: 768px) {
		.news-item {
			height : 180px;
		}
        .news-item .bg {
            width : auto;
            height: 100%;
        }
	}

	@media (min-width: 992px) {
		.news-item {
			height : 220px;
		}
	}

	@media (min-width: 1200px) {
		.news-item {
			height : 250px;
		}
	}

/* #news end */
/* #hole start */

#hole {
	/* do not padding-top. it cause crack. */
	margin-top : 50px;
	overflow: hidden;
}
	.hole-text {
		position: relative;
		width : 100%;
	}
	.hole-bg{
		position: absolute;
        overflow: hidden;
		background: -webkit-linear-gradient(#000, #fff); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#000, #fff); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#000, #fff); /* For Firefox 3.6 to 15 */
		background: linear-gradient(#000 10%, #fff 90%); /* Standard syntax */

		width : 100%;   
/*		height : 900px;*/
		top : 0;
	}
    .hole-bg img{
        top : 0;
        width : 100%;
        position: relative;
    }
/* #hole end */
/* #bulletin start */
#bulletin {
	padding-top: 50px;
}
	.bulletin-item {
        position: relative;
		display: block;	
		overflow: hidden;
		margin-top : 10px;
		margin-bottom: 10px;
        height : 170px;
        background-size: cover;
	}
/*
	.bulletin-item > img {
		width : 100%;	
	}
*/
    .bulletin-item .text-wrapper:hover {
        background-color: rgba(0,0,0, 0.7);   
    }
    .bulletin-item .text-wrapper {
        width : 100%;
        height : 100%;
        -webkit-transition: all 0.3s ease, opacity 0.3s ease;
           -moz-transition: all 0.3s ease, opacity 0.3s ease;
             -o-transition: all 0.3s ease, opacity 0.3s ease;
                transition: all 0.3s ease, opacity 0.3s ease;
        background-color: rgba(70,70,70, 0.7);
    }
    .bulletin-item .text{
        height : 40%;
        top : -9999px;
        bottom : -9999px;
        left : -9999px;
        right : -9999px;
        margin: auto;
        position: absolute;
    }   
    @media (max-width: 767px) {
        .bulletin-item {
            margin : 0;   
        }
        .col-xs-6 {
            padding: 0;   
        }
    }
  	@media (min-width: 768px) {
        .bulletin-item {
            height : 170px;   
        }
	}

	@media (min-width: 992px) {
        .bulletin-item {
            height : 200px;   
        }	
	}

	@media (min-width: 1200px) {
        .bulletin-item {
            height : 250px;   
        }
	}


/* #bulletin end */
/* #insta start */

#insta {
	font: 12px/26px BebasNeue;
	margin-top: 60px;
	position : relative;
	min-height : 300px;
	
	list-style: none;
    margin-bottom: 150px;
}
    
	#insta.container, 
	#insta.container-fluid {
		padding-left: 5px;
		padding-right: 5px;
	}
    #insta .loading {
        position: absolute;
        top:0; bottom: 0; left: 0; right: 0;
        margin: auto;
    }
	#insta .row {
		margin-left : -5px;
		margin-right : -5px;
	}
	#insta .col-md-1, 
	#insta .col-md-2, 
	#insta .col-xs-2, 
	#insta .col-xs-4{
		padding-left: 5px;
		padding-right: 5px;
	}

	.insta-item {
		display: inline-block;
		margin-bottom: 10px;
/*		width : 100px;	*/
	}
/*
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, 


	#insta .col-md-1, .col-md-10, .col-md-11, .col-md-12, 
	#insta .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
	#insta .col-xs-2, .col-xs-3, 
	#insta .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	  padding-right: 5px;
	  padding-left: 5px;
	}
*/


	#insta 
	#insta h1, 
	#insta h2,
	#insta h3{
		margin-right: 0.5em;
		display: inline-block;
		font-weight: bold;
	}


/*
	.insta-item.big {
		width : 400px;	
	}
	.insta-item.small {
		width : 200px;
	}
*/
	.insta-item > img {
		width : 100%;	
	}

/* #insta end */

/* footer #footer start */
#footer {
	z-index: 0;
	color : white;
	background-image: none;
	background-color: #B3AFA6;
    -webkit-transform: translate3d(0,0,0);
}   
	#footer,
	#footer-area {
		height : 250px;
	}	
	.footer-link {
/*		padding-top : 100px;*/
/*		width : 360px;*/
	}
        .footer-link .link {
            float: left;   
        } 
        .footer-link .link ul {
            
        }
        .footer-link .link li {
            list-style-type: square;
            float: left;
            margin-left : 1.3em;
            margin-right : 0.5em;
        }
        .footer-link .link a {
            color : white;
        }
        .footer-link .sns {
            float: right;   
        }
		.footer-link ul {
			list-style: none;	
		}
		.footer-link .icon {
/*			width : 40px;*/
			display: inline-block;
		}	
    #footer .line {
        width : 100%;
        border : 3px solid white;
        margin: 1.0em auto;
    }
/*
	#footer > .wrapper {

		margin: 0 auto;
	}
*/
	.footer-info {
		padding-top : 50px;
		color : white;
	}
		.footer-info h1{
            margin-top : 0.3em;
			font-size: 1.3em;
            font-weight: normal;
		}
		.footer-info h2{
			margin: 0.3em auto;
            line-height: 1.2em;
			font-size: 1.0em;
		}
		.footer-info p{
			font-size: 1.0em;
			line-height: 1.2em;
			margin: 0.3em auto;
			padding: 0;
		}


		.footer-info .logo{
			width : 100%;
		}
		.footer-info .line{
			margin: 1.3em 0;
			border: 2px solid white;
		}

	@media (max-width: 767px) {
        #footer,
        #footer-area {
            height : 330px;
        }	
        #footer .container{
            padding-left: 10px;
            padding-right: 10px;
        }
        .footer-info .name {
            text-align: center;             
        }
        .footer-info .name > h1 {
/*            position: absolute;*/
/*
            display: block;
            top:0; right:0; bottom:0; left:0;
            margin: auto;
*/
            margin-top : 10%;
        }
        .footer-info p{
/*
            font-size: 1.0em;
			line-height: 1.2em;
*/
/*			margin: 0.3em 1.5em;*/
/*			padding: 0;*/
		}
        .footer-info h2{
/*			margin: 0.3em 1.5em;*/
/*            line-height: 1.2em;*/
/*			font-size: 1.0em;*/
		}
        .footer-info .detail {
            padding-top : 10px;   
        }
        #footer .line{
/*			width : 95%;*/
		}
        .footer-link .link {
            margin-bottom: 10px;
        }
        .footer-link .link li {
/*            margin-left : 2.0em;*/
/*            margin-right : 0.5em;*/
        }
/*
        .footer-link .sns {
            clear : both;
            float : right;
            text-align: center;
            margin : 2.0em auto;
        
        }
*/
		.footer-link .icon {
			margin : 3px 10px
		}	
	}

	@media (min-width: 992px) {
	
/*
		.footer-link .icon {
			width : 100px;
		}	
*/
	}

	@media (min-width: 1200px) {
		#footer > .wrapper {
			
		}
	}